---
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Sidebar from '../../components/Sidebar.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('cs')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: calc(100vw - var(--sidebar-width));
        max-width: none;
        margin: 0;
        padding: 0 0 3em;
			}
      .section-banner {
        width: 100%;
        min-height: 220px;
        margin-bottom: 2rem;
        padding: 1rem;
        display: flex;
        align-items: end;
        border-radius: 0;
        background-size: cover;
        background-position: 10% 60%;
        box-sizing: border-box;
      }
      .cs-banner {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.35)),
          url('/images/cs-banner.JPG');
      }
      .post-list {
        padding: 0 2rem;
        box-sizing: border-box;
      }
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 2rem;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}
			ul li {
				width: 100%;
			}
			ul li * {
				text-decoration: none;
				transition: 0.2s ease;
			}
			ul li a {
				display: block;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
        font-size: 1.5rem;
			}
      .description {
	      margin: 0.35rem 0 0.25rem;
	      color: rgb(var(--gray));
      	line-height: 1.4;
        font-size: 1.1rem;
      }
			.date {
				margin: 0;
				color: rgb(var(--gray));
        font-size: 1rem;
			}
			ul li a:hover h4,
			ul li a:hover .date {
				color: var(--accent);
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<Sidebar />
		<main>
      <section class="section-banner cs-banner">
      </section>
			<section class="post-list">
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/cs/${post.id}/`}>
									{post.data.heroImage && (
										<Image width={720} height={360} src={post.data.heroImage} alt="" />
									)}
									<h4 class="title">{post.data.title}</h4>
                  <p class="description">{post.data.description}</p>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
